.header {
  text-align: center;
  position: relative;
  background-color: blue;
}

.form-search {
  display: inline-block;
  padding: 1rem;
}

.form-search > input {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: 2px solid white;
  border-radius: 8px;
}

.form-search > input:focus {
  outline: none;
  border: 2px solid orangered;
  border-radius: 8px;
}

.suggestions {
  position: absolute;
  top: 3.5rem;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid white;
  border-radius: 4px;
  padding: 0.5rem 0;
  width: 70%;
  background: white;
}

.suggestions > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.suggestions li {
  text-align: center;
  padding: 0.5rem 0;
  color: blue;
  font-size: 1.25rem;
}

.suggestions li:hover {
  background: pink;
}

@media (min-width: 960px) {
  .suggestions {
    width: 40%;
  }
}
